<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>New Project</title>
    <link rel="icon" href="icon/icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="icon/icon.png" />
    <link rel="stylesheet" type="text/css" href="css/game.css" />
  </head>
  <body style="background-color: black">
    <script type="text/javascript" src="js/libs/pixi.js"></script>
    <script type="text/javascript" src="js/libs/pako.min.js"></script>
    <script type="text/javascript" src="js/libs/localforage.min.js"></script>
    <script type="text/javascript" src="js/libs/effekseer.min.js"></script>
    <script type="text/javascript" src="js/libs/vorbisdecoder.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
